@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
body {
    background: url(2.jfif);
    font-size: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  body, button, input {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
    
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
  
    box-shadow: rgb(18, 25, 211) 0px 0px 0px 3px, rgb(11, 156, 8) 0px 0px 0px 6px, rgb(218, 181, 0) 0px 0px 0px 9px, rgb(218, 105, 24) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: rgb(138, 0, 34);
    border-radius: 10px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .app-title {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    color: #eeb6b6;
    font-size: 26px;
    text-transform: uppercase;
    border-left: 4px dotted #b680a1;
    border-bottom: 4px dotted rgb(238, 202, 202);
    padding: 20px;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
   
  }
  
  .app-form-control::placeholder {
    color: rgba(228, 209, 209, 0.74);
    
  }
 
  .app-form-control:focus {
    border-bottom-color: rgb(255, 255, 255);
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ffa2d5;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;

  }
  
  .app-form-button:hover {
    color: #e5f8f4;
  }
  
  .showdata{
    text-align: center;
    color: rgb(255, 221, 221);
    font-size: 1.2rem;
    padding-top: -10px;
    text-decoration: underline;
    text-decoration-color: rgb(197, 101, 101);
    padding-bottom: 10px;
  }